<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="../../favicon.ico">
    <title>Main page</title>
    <link href="Content/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container" style="text-align:center">
        <div class="starter-template">
            <h1>Меню</h1>
            <p class="lead">
                Суши, роллы, нигири и сеты готовятся профессионалами и только из свежих продуктов. Только у нас вы найдете
                <br>такое сочетание мастерства приготовления, скорости доставки и умеренности оплаты.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>Калифорнийский унаги</h2>
                <img src="~/Content/unagi.jpg" alt="Unagi" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>Эби Маки</h2>
                <img src="~/Content/ebi-maki.jpg" alt="Ebi-Maki" class="img-responsive">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <h2>Черный дракон</h2>
                <img src="~/Content/blackdragon.jpg" alt="BlackDragon" class="img-responsive">
            </div>
        </div>
    </div>
</body>